@model User
@{
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
    string pageId = ViewBag.PageId;
    PageInfo pageInfo = SiteDirectory.GetPageInfo(pageId);
    User loginUser = ViewBag.LoginUser;
    ViewBag.Pid = pageInfo.Id;
    ViewBag.Pclass = pageInfo.Name;
    ViewBag.PageId = pageId + Model.Id;
}
@section Style
{
    <style type="text/css">
        .form-key { width: 140px; }
    </style>
}
@section ScriptHeader
{
    <script type="text/javascript">
    </script>
}
<div id="tools-back">
</div>
<div id="tools">
    <div id="tool-items">
        @Html.RenderRefreshToolbarItem()
        @Html.RenderReturnToolbarItem(pageInfo)
    </div>
    <div id="tool-buttons">
    </div>
    <div class="clear-float">
    </div>
</div>
<div class="form-table">
    <table>
        <tbody>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.Role, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.Role.Name)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.Status, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.Status)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.LoginName, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.LoginName)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.Name, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.LivingAddress, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.LivingAddress)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.TelephoneNumber, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.TelephoneNumber)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.MobileNumber, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.MobileNumber)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.IDCardNumber, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.IDCardNumber)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.CreateTime, 4)</td>
                <td class="form-value">@string.Format("{0:yyyy-MM-dd}", Model.CreateTime)</td>
            </tr>
            <tr>
                <td class="form-key">@Html.DisplayNameFor(model => model.Introduction, 4)</td>
                <td class="form-value">@Html.DisplayFor(model => model.Introduction)</td>
            </tr>
        </tbody>
    </table>
</div>
@section ScriptFooter
{
    <script type="text/javascript" language="javascript">
        $(function ()
        {
        });
    </script>
}
